.bye{
    width: 100%;
    height: 70px;
    background-color: blue;
    color: yellow;
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 40px;
}

.fire-maker{
    width: 100%;
    height: 70px;
    background-color: aqua;
    color: brown;
    display: flex;
    justify-content: space-around;
}

.ken{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}












